.PageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-content {
  display: flex;
  width: 90%;
}

.add-comment {
  display: flex;
}
.summary-button {
  margin-bottom: 20px;
  padding-right: 10px;
  background-color: #17a2b8;
  font-size: 30px;
  color: #fff;
}

.submit-button {
  margin-bottom: 20px;
  padding-right: 10px;
  font-size: 30px;
  color: white;
  background-color: #007bff;
}
