@import 'comment_card.css';
@import 'essay.css';
@import 'comment_dropdown.css';
@import 'comment_text_box.css';
@import 'homepage.css';
@import 'rubric_section.css';
@import 'rubric.css';
@import 'summary.css';
@import 'comments.css';

.body {
  height: 100%;
  background-color: lightGrey;
}
.html {
  height: 100%;
  overflow: auto;
  margin-bottom: 10px;
}
.container-homepage {
  margin-left: 20px;
  margin-right: 20px;
}

.rubric-section-content {
  position: inline-block;
  padding-left: 100px;
}

.Thesis-highlighter {
  background-color: #9400d3;
}

.Argument-highlighter {
  background-color: orange;
}


.comments {
  margin-top: 10px;
  height: 100% important!;
  margin-bottom: 10px;
}

.comment-type {
  padding-left: 20px;
  padding-top: 10px;
}

.comment-highlight {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  float: left;
  width: 88px;
  height: 64px;
}

.submit-button {
  margin-bottom: 20px;
  padding-right: 10px;
  font-size: 30px;
  color: white;
  background-color: #007bff;
}

.add-comment-button {
  margin-top: 60px;
  font-size: 22px;
  background-color: #5cb85c;
  color: #fff;
  width: 300px;
}


.modal {
  background-color: orange;
  height: 300;
  width: 200;
  position: fixed;
  font-size: 50px;
}

.modalBackdrop {
  position: "fixed";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: "rgba(0,0,0,0.3)";
  padding: 50;
}

.analysis-section {
  border: solid 8px #17a2b8;
}

.conclusion-section {
  border: solid 8px brown;
}
