.delete-comment-button {
    display: flex;
    background-color: #d9534f;
    color: #fff;
    font-size: 16px;
}

.comment-type {
    padding-left: 20px;
    padding-top: 10px;
}

.input-comment-container {
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: white;
}
