.comments {
  height: 100%;
}

.comment-type {
  padding-left: 20px;
  padding-top: 10px;
}

.add-comment-box {
  padding: 1em;
  border: 1px solid black;
}

.add-comment-button {
  background-color: #5cb85c;
  color: #fff;
}

.add-comment-button.disabled {
  background-color: gray;
}
