  .delete-comment-button {
    display: flex;
    float: right;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #d9534f;
    color: #fff;
    font-size: 16px;
    height: 35px;
    position: relative;
  }

  .comment-type {
    padding-left: 20px;
    padding-top: 10px;
  }

  .input-comment-container {
    height: 220px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: white;
    margin-left: 60px;
    border: 1px solid grey;
    vertical-align: text-top;
  }
