.essay-box {
  background-color: white;
  margin-top: 10px;
  border: 1px solid black;
  margin-bottom: 50px;
  margin-right: 1em;
  padding: 1em;
}

.essay-title {
  margin-top: 20px;
  text-align: center;
}
.essay-text {
  font-size: 20px;
}
