@import 'comment_card.css';
@import 'essay.css';
@import 'comment_dropdown.css';
@import 'comment_text_box.css';
@import 'homepage.css';
@import 'rubric_section.css';
@import 'rubric.css';
@import 'summary.css';
@import 'comments.css';

.body {
  height: 100%;
  background-color: lightGrey;
}
.html {
  height: 100%;
  overflow: auto;
  margin-bottom: 10px;
}
.container-homepage {
  margin-left: 20px;
  margin-right: 20px;
}

.Thesis-highlighter {
  background-color: #9400d3;
}

.Argument-highlighter {
  background-color: orange;
}
